/* GENERAL ELEMENTS */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    margin: 0%;
}

h1, h2, h3 {
    color: #4c545d;   
}

p {
    color: #9fabb2;   
}

.btn-cy{
    font: inherit;
    background-color: #26baa4;
    color: #fff;
    border: 0;
    border-radius: 3em;
    padding: 1rem 2rem;
    margin-right: 0.45rem;
    -moz-box-shadow: 0px 15px 11px -7px rgba(0, 0, 0, 0.11);
    -webkit-box-shadow: 0px 15px 11px -7px rgba(0, 0, 0, 0.11);
    box-shadow: 0px 15px 11px -7px rgba(0, 0, 0, 0.11);
    -moz-box-shadow: rgba(0, 0, 0, 0.1) 0px -4px inset;
    -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px -4px inset;
    box-shadow: rgba(0, 0, 0, 0.1) 0px -4px inset;
}

.btn-cy:hover {
    background-color: #60cbbb;
    color: #fff;
    cursor: pointer;
}

.btn-bl{
    font: inherit;
    background-color:  #6173ff;
    color: #fff;
    border: 0;
    border-radius: 3rem;
    padding: 1rem 2rem;
    margin-left: 0.45rem;
    -moz-box-shadow: 0px 15px 11px -7px rgba(0, 0, 0, 0.11);
    -webkit-box-shadow: 0px 15px 11px -7px rgba(0, 0, 0, 0.11);
    box-shadow: 0px 15px 11px -7px rgba(0, 0, 0, 0.11);
    -moz-box-shadow: rgba(0, 0, 0, 0.1) 0px -4px inset;
    -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px -4px inset;
    box-shadow: rgba(0, 0, 0, 0.1) 0px -4px inset;
}

.btn-bl:hover {
    background-color: #8996ff;
    color: #fff;
    cursor: pointer;
}

/* HEADER */

.header{
    background: linear-gradient(to bottom, transparent, white),url(../images/bg-header-desktop.png);
    background-size: cover;
}

#headerlogo {
    width: 100px;
    height: 100px;
}

.header > #header-content > .rowheader > p {
    margin-bottom: 2em;
}

#header-content {
    padding: 6em 1em 1em 1em;
}

/* LAYOUT */

.flex-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 3%;
}

.row {
    margin: 2% 0 2%;  
}

.equalcols {
    display: flex;
}

.equalcols > * {
    flex-basis: 100%;
}

.rowheader {
    padding-bottom: 4em;
    max-width: 55%;
    margin: auto;
    padding: auto;
}

.rowheader > p {
    max-width: 55%;
    margin: auto;
    padding: auto;
    padding-bottom: 2em;
}

.rowheader > h2 {
    max-width: 55%;
    margin: auto;
    padding: auto;
    margin-bottom: 0.6em;
}

.rowheader > h2 {
    font-size: 1.8vw;
}

#coltwo {
    padding-top: 3em;
    padding-left: 2em;
}

#rowone > #coltwo > div {
    text-align: start;    
    padding-left: 5em;
    width: 42%;
}

#rowone > #coltwo > div {
    height: 21%;
}

#rowone {
    margin-left: -40px;
}

#pc {
    float: left;  
    width: 101%;
}

#rowthree > .equalcols > .col {
    max-width: 28%;
    margin: auto;
    padding: auto;
}

#rowthree > .equalcols {
    max-width: 70%;
    margin: auto 15% auto 15%;
}

#rowfour {
    display: flex;
    flex-direction: row; 
    max-width: 74%; 
    margin: 11em 13% 11em 13%;  
}

#rowfour > div {
    flex-basis: 100%;  
}

/* FOOTER */

footer{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #f5f6f8;
    padding: 2.2em;
}

footer > div {
    flex: 1 1 33.3%;
}

#footerlogo {
    width: 50px;
    height: 50px;
}

#footerlinks > .col > a {
    text-decoration: none;
    color: #4c545d;
    display: block;
    padding-bottom: 1.4em;
    text-align: left;
}

#footerlinks > .col > a:hover {
    color: #26baa4;
}

#footericons > i {
    padding: 0.8em;
    font-size: 1.5em;
    color: #4c545d;
}

#footericons > i:hover {
    color: #26baa4;
    cursor: pointer;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: #3e52a3; 
}

@media (min-width: 375px) and (max-width: 768px) {

    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }

    h3 {
        font-size: 2.22em;
        margin-top: 2.22em;
    }

    p {
        font-size: 26.3px;
    }

    .rowheader > h1 {
        font-size: 53px;
        max-width: 85%;
        margin: auto;
        padding: 1.3em 0 0.6em 0;
    }

    .rowheader > h2 {
        font-size: 43px;
        max-width: 85%;
        margin: auto;
        padding: 1.3em 0 0.6em 0;
    }

    .rowheader > p {
        max-width: 85%;
    }

    #header-content {
        padding: 6em 0 0 0;
    }

    .btn-cy {
        margin-right: 0;
        display: block;
        width: 90%;
        margin: auto;
        font-size: 33px;
        margin-bottom: 1.1em;
    }

    .btn-bl {
        margin-left: 0;
        display: block;
        width: 90%;
        margin: auto;
        font-size: 33px;
    }

    .row {
        margin-top: 6em;
    }

    .rowheader {
        max-width: 100%;
    }

    #pc {
        float: none;  
        max-width: 85%;;
    }

    #rowone {
        margin-left: 0;
    }

    .equalcols {
        display:initial
    }

    #colone {
        display: flex;
        flex-direction: row;
        flex: 1 1 100%;
        width: 100%;
    }
    
    #coltwo {
        padding-top: 0;
        padding-left: 0;
        max-width: 85%;
        margin: auto;
    }

    #rowone > #coltwo > div {
        height: auto;
        width: auto;
        padding: 0;
        text-align: center;
    }

    #tablet-image {
        width: 100%;
    }

    #rowthree > .rowheader {
        padding-bottom: 0.44em;
    }

    #rowthree > .equalcols > .col {
        max-width: 85%;
        margin-top: 4.5em;
    }

    #rowthree > .equalcols > .col > h3 {
        margin-top: 0.7em;
    }

    #rowfour {
        display: grid;
        max-width: 95%; 
        grid-gap: 5px;
        margin-top: 6em;
        margin-bottom: 6%;
    }

    #rowfour > * {
        margin-top: 3em;
        
    }

    #rowfour > div > img {
        width: 60%;
        margin-bottom: 2.55em;
    }

    footer {
        display: grid;
        max-width: 100%;  
    }

    footer > div {
        margin: auto auto 4em auto;
        justify-items: center;
        text-align: center;
    }

    #footerlogo {
        width: 75px;
        height: 75px;
    }

    #footerlogodiv {
        padding-top: 3.75em;
    }

    footer > .equalcols {
        padding-top: 1.5em;
    }

    #footerlinks > .col > a {
        text-align: center;
        font-size: 33px;
    }

    #footerlinks {
        margin-bottom: 2em;
    }

    #footericons > i {
        
        font-size: 2.5em;
        
    }

}

